@import 'settings/space';

@import 'tools/breakpoint';

@import 'layout/container';

@import 'components/about';
@import 'components/footer';
@import 'components/header';
@import 'components/projects';


html,body{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}
