<section class="c-about o-section">
  <h2 class="o-section-header">About Me</h2>
  <div class="c-about__bio-container">
    <p class="c-about__bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident</p>
  </div>
  <div class="c-about__links">
    <a href="https://github.com/kjmahoney">
      <img class="c-about__logo" src="images/github.png" alt="github logo">
    </a>
    <p><a href="misc/resume.pdf" target="_blank">Resumé</a><p>
    <a href="https://www.linkedin.com/in/kevin-mahoney2013/">
      <img class="c-about__logo" src="images/linkedin.png" alt="linkedin logo">
    </a>
  </div>
</section>
