<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kevin Mahoney</title>
    <link rel="stylesheet" href="css/base.css">
  </head>
  <body>
    <%- include('components/header.html') %>

    <div class="l-container">

      <%- include('components/about.html') %>

      <%- include('components/projects.html') %>

      <%- include('components/footer.html') %>
    </div>

    <script src="js/header.js" charset="utf-8"></script>
    <script src="js/projects.js" charset="utf-8"></script>
  </body>
</html>
