a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.2s; }
  a:hover {
    color: gray; }

p, h1, h2, h3, h4 {
  margin: 0; }

.o-section-header {
  margin-bottom: 24px; }

.o-section {
  margin-bottom: 48px; }

.l-container {
  padding: 0 16px;
  max-width: 960px;
  margin: auto; }
  @media (min-width: 576px) {
    .l-container {
      padding: 0 24px; } }

.c-about::after {
  background-color: black;
  content: "";
  display: block;
  margin: auto;
  height: 1px;
  width: 100px; }

.c-about__links {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 48px;
  padding: 0 16px;
  max-width: 320px; }

.c-about__bio {
  margin-bottom: 48px; }

.c-about__logo {
  height: 32px;
  width: 32px; }

.c-header {
  border-bottom: 1px solid black;
  position: relative; }
  @media (min-width: 576px) {
    .c-header {
      margin-bottom: 72px; } }

.c-header__name {
  font-size: 28px;
  position: absolute;
  top: 50%; }
  @media (min-width: 576px) {
    .c-header__name {
      font-size: 32px; } }

.c-header__canvas {
  width: 100vw;
  height: 213px; }

.c-projects__container {
  display: block; }
  @media (min-width: 576px) {
    .c-projects__container {
      display: flex; } }

@media (min-width: 576px) {
  .c-project {
    margin-right: 16px; } }

.c-project:last-child {
  margin-right: 0; }

.c-projects__image {
  height: 200px;
  width: 100%; }

html, body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0; }
