.c-header {
  position: relative;
}

.c-header__name {
  font-size: 24px;
  position: absolute;
  top: 50%;

  @include breakpoint(small) {
    font-size: 32px;
  };
}

.c-header__canvas{
  width: 100vw;
  height: 213px;
}
