.c-header {
  border-bottom: 1px solid black;
  position: relative;

  @include breakpoint(small) {
    margin-bottom: $space-64;
  };
}

.c-header__name {
  font-size: $text-28;
  position: absolute;
  top: 50%;

  @include breakpoint(small) {
    font-size: $text-32;
  };
}

.c-header__canvas{
  width: 100vw;
  height: 213px;

  @include breakpoint(small) {
    height: 281px;
  };
}
